.carousel {
    padding-top: 128px;

    .header__black {
        padding: 10px 0;
        background-color: $clr-black-0;
        color: $clr-white-0;
        font-size: 16px;
        text-align: center;

        .text__content {
            margin-bottom: 25px;

            p {
                margin: 0;
            }
        }

        .link__content {
            a {
                margin-right: 19px;

                span {
                    text-decoration: underline;
                    color: #37a9e8;
                }
            }
        }
    }

    .carousel__content {
        .swiper__item {
            position: relative;

            img {
                width: 100%;

            }

            .items__inside,
            .items__inside2 {
                position: absolute;
                top: 10%;
                left: 5%;

                h2 {
                    font-size: 3rem;
                    letter-spacing: 1px;
                    color: $clr-blue-6;
                    line-height: 1.42857143;
                }

                .ford-btnBlue {
                    max-width: 250px;
                    width: 100%;
                    margin: auto;
                }
            }

            .items__inside2 {
                position: absolute;
                top: 30%;
                left: 5%;
                // .ford-btnBlue{
                //     max-width: 300px !important;
                //     width: 100%;
                //     margin: auto;
                // }
            }
        }
    }

}

@media (max-width: 992px) {
    .carousel {
        .carousel__content {
            .swiper-container{
                .swiper-button-next,.swiper-button-prev{
                    width: 55px;
                    height: 55px;
                }
            } 
            .swiper__item {
                .items__inside {
                    h2 {
                        font-size: 2rem;
                        letter-spacing: 1px;
                        color: $clr-blue-6;
                        line-height: 1.42857143;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .carousel {
        .carousel__content {
            .swiper-container{
                .swiper-button-next,.swiper-button-prev{
                    width: 40px;
                    height: 40px;
                }
            }
            .swiper__item {
                .items__inside {
                    h2 {
                        font-size: 1.5rem;
                        letter-spacing: 1px;
                        color: $clr-blue-6;
                        line-height: 1.42857143;
                    }
                    .ford-btnBlue {
                        padding: 7px 8px;
                    width: auto;
                    margin: auto;
                }
                }
            }
        }
    }
}
